In [85]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import itertools

In [86]:
data = pd.read_csv('movie_bd_v5.csv', parse_dates=['release_date'])
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1225,tt2312718,22000000,43058898,Homefront,Jason Statham|James Franco|Izabela Vidovic|Win...,Gary Fleder,How far would you go to protect your home?,Phil Broker is a former DEA agent who has gone...,100,Action|Thriller,Millennium Films|Open Road Films,2013-11-27,6.4,2013
1232,tt1931435,35000000,21819348,The Big Wedding,Robert De Niro|Diane Keaton|Katherine Heigl|Am...,Justin Zackham,It's never too late to start acting like a family,To the amusement of their adult children and f...,90,Comedy,Millenium Films|Two Ton Films,2013-04-25,5.6,2013
1870,tt0144528,84000000,123307945,Nutty Professor II: The Klumps,Eddie Murphy|Janet Jackson|Larry Miller|John A...,Peter Segal,The Klumps are back!,The hilarity begins when professor Sherman Klu...,106,Fantasy|Comedy|Romance|Science Fiction,Imagine Entertainment|Universal Pictures,2000-07-27,4.8,2000
1604,tt0356150,25000000,20796847,EuroTrip,Scott Mechlowicz|Jacob Pitts|Michelle Trachten...,Jeff Schaffer,No actual Europeans were harmed in the making ...,When Scott learns that his longtime cyber-budd...,93,Comedy,DreamWorks SKG|The Montecito Picture Company|B...,2004-02-20,6.4,2004
1093,tt0287978,78000000,179179718,Daredevil,Ben Affleck|Jennifer Garner|Colin Farrell|Mich...,Mark Steven Johnson,A Guardian Devil,"He dwells in a world of eternal night, but the...",103,Fantasy|Action|Crime|Science Fiction|Thriller,Twentieth Century Fox Film Corporation|Regency...,2003-02-14,4.9,2003

In [87]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [88]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

# the time given in the dataset was in string format.
# We used parse_dates=['release_date'] while opening the file

# Adding the new column 'profit'
data['profit'] = data['revenue'] - data['budget']

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [89]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [5]:
# тут пишем ваш код для решения данного вопроса:
data1 = data.copy()

data1[data1.budget == data1.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

ВАРИАНТ 2

In [15]:
# можно добавлять разные варианты решения
data1 = data.copy()

data1.query('budget == budget.max()')[['original_title', 'imdb_id']]

                                  original_title    imdb_id
723  Pirates of the Caribbean: On Stranger Tides  tt1298650

# 2. Какой из фильмов самый длительный (в минутах)?

In [90]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [17]:
data2 = data.copy()

data2[data2.runtime == data2.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [91]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

In [21]:
data3 = data.copy()

data3[data3.runtime == data3.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [92]:
answers['4'] = '110'

In [23]:
data4 = data.copy()

round(data4['runtime'].mean())

110

# 5. Каково медианное значение длительности фильмов?

In [93]:
answers['5'] = '107'

In [39]:
data5 = data.copy()

round(data5['runtime'].median())

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [94]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = 'Avatar (tt0499549)'

In [26]:
data6 = data.copy()

data6[data6.profit == data6.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [95]:
answers['7'] = 'The Lone Ranger (tt1210819)'

In [29]:
data7 = data.copy()

data7[data7.profit == data7.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [96]:
answers['8'] = '1478'

In [31]:
data8 = data.copy()

len(data8[data8.profit > 0])

# another (slice) approach:
data8[data8.profit > 0]['imdb_id'].count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [97]:
answers['9'] = 'The Dark Knight (tt0468569)'

In [34]:
data9 = data.copy()

data9[data9.release_year == 2008].sort_values(by = 'revenue', ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [98]:
answers['10'] = 'The Lone Ranger (tt1210819)'

In [36]:
data10 = data.copy()

data10[data10.release_year.isin([2012, 2013, 2014])].sort_values(by = 'profit', ascending=True).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [0]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [99]:
answers['11'] = 'Drama'

ВАРИАНТ 2

In [40]:
data11 = data.copy()

# Separating genres one from each other, then placing into single Serries:
splitted_genres = data11.genres.apply(lambda x:x.split('|')).explode('genres')

# Сounting single genres
splitted_genres.value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [100]:
answers['12'] = 'Drama'

In [28]:
data12 = data.copy()

# Choosing profitable movies:
profitable_movies = data12.query('profit > 0').copy()

# Spliting data with genres information
profitable_movies['genres'] = profitable_movies.genres.str.split('|')
profitable_movies = profitable_movies.explode('genres')

# Counting the most common profitable genres
profitable_movies.genres.value_counts().index[0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [101]:
answers['13'] = 'Peter Jackson'

In [41]:
data13 = data.copy()

data13['director'] = data13.director.str.split('|')
data13 = data13.explode('director')

data13.groupby('director')['revenue'].sum().sort_values(ascending = False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [102]:
answers['14'] = 'Robert Rodriguez'

In [43]:
data14 = data.copy()

data14 = data14[data14.genres.str.contains('Action')]

data14['director'] = data14.director.str.split('|')
data14 = data14.explode('director')

data14.director.value_counts().index[0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [103]:
answers['15'] = 'Chris Hemsworth'

In [44]:
data15 = data.copy()

data15['cast'] = data15.cast.str.split('|')
data15 = data15.explode('cast')

data15 = data15.loc[data15.release_year == 2012]

data15.groupby('cast')['revenue'].sum().sort_values(ascending = False).index[0]

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [104]:
answers['16'] = 'Matt Damon'

In [48]:
data16 = data.copy()

data16['cast'] = data16.cast.str.split('|')
data16 = data16.explode('cast')

data16 = data16[data16.budget > data16.budget.mean()]

data16.groupby('cast').imdb_id.count().sort_values(ascending=False).index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [105]:
answers['17'] = 'Action'

In [50]:
data17 = data.copy()

data17 = data17[data17.cast.str.contains('Nicolas Cage')].genres.str.split('|').explode()

display(data17.value_counts())

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Animation           3
Mystery             3
Family              3
History             2
Horror              1
Romance             1
War                 1
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [106]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

In [53]:
data18 = data.copy()

data18 = data18[data18.production_companies.str.contains('Paramount Pictures')]

data18 = data18[data18.profit == data18.profit.min()]
data18.original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [107]:
answers['19'] = '2015'

In [55]:
data19 = data.copy()

data19.groupby('release_year')['revenue'].sum().sort_values(ascending = False).index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [108]:
answers['20'] = '2014'

In [56]:
data20 = data.copy()

data20 = data20[data20.production_companies.str.contains('Warner Bros')]

data20.groupby('release_year')['profit'].sum().sort_values(ascending = False).index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [109]:
answers['21'] = 'Сентябрь'

In [61]:
data21 = data.copy()

data21.release_date.dt.month.value_counts(ascending = False)

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [110]:
answers['22'] = '450'

In [65]:
data22 = data.copy()

data22 = data22[data22.release_date.dt.month.isin([6, 7, 8])]
data22.imdb_id.count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [111]:
answers['23'] = 'Peter Jackson'

In [67]:
data23 = data.copy()

data23 = data23[data23.release_date.dt.month.isin([1, 2, 12])]
data23.imdb_id.count()

data23.groupby('director')['imdb_id'].count().sort_values(ascending = False).index[0]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [112]:
answers['24'] = 'Four By Two Productions'

In [71]:
data24 = data.copy()

data24['production_companies'] = data24.production_companies.str.split('|')
data24 = data24.explode('production_companies')

data24['original_title_length'] = data24.original_title.apply(lambda x:len(x))

data24.groupby('production_companies')['original_title_length'].mean().sort_values(ascending = False).index[0]

# Checking for such a long title
# display(data24[data24.production_companies == 'Four By Two Productions'])

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [113]:
answers['25'] = 'Midnight Picture Show'

In [72]:
data25 = data.copy()

data25['production_companies'] = data25.production_companies.str.split('|')
data25 = data25.explode('production_companies')

data25['overview_length'] = data25.overview.apply(lambda x:len(x))

data25.groupby('production_companies')['overview_length'].mean().sort_values(ascending = False).index[0]

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [114]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [75]:
data26 = data.copy()

data26 = data26[data26['vote_average'] > data26['vote_average'].quantile(q=0.99)]
display(data26)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,2015-06-09,8.0,2015
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,2015-10-16,8.0,2015
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,2014-11-05,8.0,2014
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,2014-07-30,7.9,2014
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,2014-11-14,8.0,2014
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,2014-10-01,7.9,2014
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2014-02-26,7.9,2014
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,2010-07-14,7.9,2010
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,2002-09-24,7.9,2002
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,2003-12-01,7.9,2003
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,2013-12-25,7.9,2013
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,2013-10-18,7.9,2013
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,2000-10-11,7.9,2000

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [115]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

In [77]:
data27 = data.copy()

data27['cast'] = data27.cast.str.split('|').apply(lambda x: list(itertools.combinations(x, 2)))
data27 = data27.explode('cast')
data27.cast.value_counts()

(Daniel Radcliffe, Emma Watson)        8
(Daniel Radcliffe, Rupert Grint)       8
(Rupert Grint, Emma Watson)            7
(Ben Stiller, Owen Wilson)             6
(Johnny Depp, Helena Bonham Carter)    6
                                      ..
(Michael J. Fox, Hugh Laurie)          1
(Sam Worthington, Anton Yelchin)       1
(Bill Nighy, Alfred Molina)            1
(Wesley Snipes, Michael Rooker)        1
(Meryl Streep, Brendan Gleeson)        1
Name: cast, Length: 18121, dtype: int64

# Submission

In [116]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [117]:
# и убедиться что ни чего не пропустил)
len(answers)

27